
[submodule "CIS_TEST/CIS_IAPManagerSDKs"]
	path = CIS_TEST/CIS_IAPManagerSDKs
	url = https://caozhao@developer.coconut.is:3737/git/CIS_IAPManagerSDKs.git
[submodule "CIS_TEST/Assets/CIS_Support"]
	path = CIS_TEST/Assets/CIS_Support
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_Support.git
	branch = master
[submodule "CIS_TEST/CommonSDKs"]
	path = CIS_TEST/CommonSDKs
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CommonSDKs.git
	branch = master
[submodule "CIS_TEST/Assets/CIS_IAPManager"]
	path = CIS_TEST/Assets/CIS_IAPManager
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_IAPManager.git
	branch = master
[submodule "CIS_TEST/Assets/CIS_LoginManager"]
	path = CIS_TEST/Assets/CIS_LoginManager
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_LoginManager.git
	branch = master
[submodule "CIS_TEST/CIS_LoginManagerSDKs"]
	path = CIS_TEST/CIS_LoginManagerSDKs
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_LoginManagerSDKs.git
	branch = master
[submodule "CIS_TEST/Assets/CIS_SocialManager"]
	path = CIS_TEST/Assets/CIS_SocialManager
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_SocialManager.git
	branch = master
[submodule "CIS_TEST/CIS_SocialManagerSDKs"]
	path = CIS_TEST/CIS_SocialManagerSDKs
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_SocialManagerSDKs.git
	branch = master
[submodule "CIS_TEST/Assets/CIS_NotificationManager"]
	path = CIS_TEST/Assets/CIS_NotificationManager
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_NotificationManager.git
	branch = master
[submodule "CIS_TEST/CIS_NotificationManagerSDKs"]
	path = CIS_TEST/CIS_NotificationManagerSDKs
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_NotificationManagerSDKs.git
	branch = master
[submodule "CIS_TEST/CIS_AnalyticsManagerSDKs"]
	path = CIS_TEST/CIS_AnalyticsManagerSDKs
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_AnalyticsManagerSDKs.git
	branch = master
[submodule "CIS_TEST/Assets/CIS_AnalyticsManager"]
	path = CIS_TEST/Assets/CIS_AnalyticsManager
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_AnalyticsManager.git
[submodule "CIS_TEST/Assets/CIS_AdManager"]
	path = CIS_TEST/Assets/CIS_AdManager
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_AdManager.git
	branch = master
[submodule "CIS_TEST/CIS_AdManagerSDKs"]
	path = CIS_TEST/CIS_AdManagerSDKs
	url = https://robot:robotatcoconut@developer.coconut.is:3737/git/CIS_AdManagerSDKs.git
